$fontsize: (
  m: (
    100: 10px,
    200: 12px,
    300: 14px,
    400: 16px,
    500: 18px,
    600: 24px,
    700: 28px,
    800: 32px,
    900: 46px,
    1000: 56px,
  ),
  d: (
    100: 10px,
    200: 12px,
    300: 14px,
    400: 16px,
    500: 18px,
    600: 24px,
    700: 28px,
    800: 32px,
    900: 46px,
    1000: 56px,
  ),
);
