$spacing: (
  m: (
    0: 0,

    50: 5px,

    100: 10px,

    200: 20px,

    300: 30px,

    400: 40px,

    500: 50px,

    600: 60px,

    700: 120px,
  ),
  d: (
    0: 0,

    50: 5px,

    100: 10px,

    200: 20px,

    300: 30px,

    400: 40px,

    500: 50px,

    600: 60px,

    700: 120px,
  ),
);
